<!doctype html>
<html><head>
  <meta charset="UTF-8">
  <title> HOME CARE</title>
  <link href="Web/home/css/style.css" rel="stylesheet" type="text/css">
  <link href="Web/home/css/admin_login.css" rel="stylesheet" type="text/css">
</head>
<body class="bg_test">
<div class="admin_login_wrap">
  <h1>Operation result prompt：</h1>
  <div class="adming_login_border">
    <div class="admin_input" style="margin:100px 20px;text-align:center;">
      <?php echo $msg;?>
      <p><br><a href="javascript:history.back();">BACK</a></p>
    </div>
  </div>
</div>


</body></html>