<!-- contact -->
<section id="contact" class="section-padding" style="background-color:#FFF6F4;">

    <div class="container">
      <h2 class="text-align-left">CONTACT US</h2>
      <br>
      <div class="col-12">
       
        <div class="row my-12 ">
          <div class="col-md-12">
            <div class="card card-outline card-navy rounded-0 shadow">
              <div class="card-header">
                <br>
                <h4 class="card-title">Contact Information</h4>
              </div>
              <div class="card-body rounded-0">
                <dl>
                  <dt class="text-muted"><i class="fa fa-envelope"></i> Email</dt>
                  <p>HomeHutCare@gmail.com</p>
                  <dt class="text-muted"><i class="fa fa-phone"></i> Contact</dt>
                  <p>+60-1124079940</p>
                  <dt class="text-muted"><i class="fa fa-map-marked-alt"></i> Location</dt>
                  <p>HomeHut Care Gelugor Penang Malaysia</p>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section> 
 <!-- contact -->