
<div class="topbar-wrap white">
  <div class="topbar-inner clearfix">
    <div class="topbar-logo-wrap clearfix">
      <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">Backend management</a></h1>
      <ul class="navbar-list clearfix">
        <li><a class="on" href="?p=back">Index</a></li>
        <li><a href="./" target="_blank">Website homepage</a></li>
      </ul>
    </div>
    <div class="top-info-wrap">
      <ul class="top-info-list clearfix">
        <li><a href=""><?php echo $_SESSION['user'];?></a></li>
        <li><a href="?p=back&c=User&a=Logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>